<section>
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-center col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card" style="width: 18rem; margin-top: 20px;">
          <img class="card-img-top" src="https://i.imgur.com/FfSRZBS.jpg"
               alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Capa de Celular</h5>
            <p class="card-text">Com um lindo design, é feita de bambu sustentável, que é ultra-durável
              e leve. Essa capinha para
              celular é linda aqui e perfeita quando você a tem nas mãos.
            </p>
            <h6 class="card-title"> R$ 29,99 </h6>
            <button type="button" class="btn btn-outline-primary" aria-label="conferir">Conferir
              <a href="#"> </a>
            </button>
          </div>
        </div>
      </div>

      <div class=" d-flex justify-content-center col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card" style="width: 18rem; margin-top: 20px;">
          <img class="thumb-post card-img-top" src="https://i.imgur.com/RARBSne.jpg"
               alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Escova de Dente</h5>
            <p class="card-text">Fácil de colher, o bambu também é biodegradável, o que o torna a
              alternativa plástica perfeita
              para a sua escova de dentes.</p>
            <h6 class="card-title"> R$ 10,90 </h6>
            <button type="button" class="btn btn-outline-primary" aria-label="conferir">Conferir
              <a routerLink=""> </a>
            </button>
          </div>
        </div>
      </div>

      <div class=" d-flex justify-content-center col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card" style="width: 18rem; margin-top: 20px;">
          <img class="card-img-top" src="https://i.imgur.com/6kvO5Ak.jpg" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Sacos de Produto Reutilizáveis</h5>
            <p class="card-text">Leve-os com você para o supermercado ou feira para evitar o uso de
              sacolas plásticas. Ou usá-los
              para fazer qualquer tipo de organização em torno da casa!
            </p>
            <h6 class="card-title"> R$ 4,99 </h6>
            <button type="button" class="btn btn-outline-primary" aria-label="conferir">Conferir
              <a href="#"> </a>
            </button>
          </div>
        </div>
      </div>

      <div class=" d-flex justify-content-center col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card" style="width: 18rem; margin-top: 20px;">
          <img class="card-img-top" src="https://i.imgur.com/DA4c5wQ.jpg" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Bolsa Soprana</h5>
            <p class="card-text">Já imaginou ter uma bolsa confeccionada para você a partir de uma
              matéria-prima que seria descartada?</p>
            <h6 class="card-title"> R$ 149,90 </h6>
            <button type="button" class="btn btn-outline-primary" aria-label="conferir">Conferir
              <a href="#"> </a>
            </button>
          </div>
        </div>
      </div>

      <div class=" d-flex justify-content-center col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card" style="width: 18rem; margin-top: 20px;">
          <img class="card-img-top" src="https://i.imgur.com/dpd1XyV.jpg" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Vaso</h5>
            <p class="card-text"> Os recipientes são moldados em fibra, o que significa que são feitos
              de material reciclado, biodegradáveis
              e geralmente se decompõem em cerca de um ano.</p>
            <h6 class="card-title"> R$ 9,99 </h6>
            <button type="button" class="btn btn-outline-primary" aria-label="conferir">Conferir
              <a href="#"> </a>
            </button>
          </div>
        </div>
      </div>

      <div class=" d-flex justify-content-center col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card" style="width: 18rem; margin-top: 20px;">
          <img class="card-img-top" src="https://i.imgur.com/Qag7pj9.jpg" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Óculos de Sol</h5>
            <p class="card-text">Há poucas maneiras melhores de parecer bem e reduzir sua poluição de
              plástico do que com um elegante
              par de óculos de sol feito a partir de materiais sustentáveis.
            </p>
            <h6 class="card-title"> R$ 82,90 </h6>
            <button type="button" class="btn btn-outline-primary" aria-label="conferir">Conferir
              <a href="#"> </a>
            </button>
          </div>
        </div>
      </div>

      <div class=" d-flex justify-content-center col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card" style="width: 18rem; margin-top: 20px;">
          <img class="card-img-top" src="https://i.imgur.com/M2m5Zn1.jpg" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Carteira</h5>
            <p class="card-text">Carteira feita de fibras Tyvek formam um material que parece muito com
              papel na textura, forma
              e aparência, mas é muito mais resistente. Ah, é 100% reciclável também.
            </p>
            <h6 class="card-title"> R$ 49,90 </h6>
            <button type="button" class="btn btn-outline-primary" aria-label="conferir">Conferir
              <a href="#"> </a>
            </button>
          </div>
        </div>
      </div>

      <div class=" d-flex justify-content-center col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card" style="width: 18rem; margin-top: 20px;">
          <img class="card-img-top" src="https://i.imgur.com/XVoUYo8.jpg" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Kit Econudo</h5>
            <p class="card-text">Os canudos de inox podem ser lavados e reutilizados quantas vezes forem
              necessárias. Precisou?
              Usa, guarda na bag, leva pra casa, lava e fica pronto pra ser usado novamente.</p>
            <h6 class="card-title"> R$ 22,90 </h6>
            <button type="button" class="btn btn-outline-primary" aria-label="conferir">Conferir
              <a href="#"> </a>
            </button>
          </div>
        </div>
      </div>

      <div class=" d-flex justify-content-center col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card" style="width: 18rem; margin-top: 20px;">
          <img class="card-img-top" src="https://i.imgur.com/4YWKH3v.jpg" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Garrafa de água eco</h5>
            <p class="card-text">Tenha sua própria garrafa de água e leve para onde for, contribuindo
              com nosso planeta reduzindo
              o uso de garrafas pet.</p>
            <h6 class="card-title"> R$ 35,00 </h6>
            <button type="button" class="btn btn-outline-primary" aria-label="conferir">Conferir
              <a href="#"> </a>
            </button>
          </div>
        </div>
      </div>

      <div class=" d-flex justify-content-center col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card" style="width: 18rem; margin-top: 20px;">
          <img class="card-img-top" src="https://i.imgur.com/KHss3NU.jpg" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Mochila</h5>
            <p class="card-text">Mochila ecológica feita em Algodão Crú, com pegada urbana em própria
              para usar diariamente, oupara
              um passeio.</p>
            <h6 class="card-title"> R$ 99,90 </h6>
            <button type="button" class="btn btn-outline-primary" aria-label="conferir">Conferir
              <a href="#"> </a>
            </button>
          </div>
        </div>
      </div>

      <div class=" d-flex justify-content-center col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card" style="width: 18rem; margin-top: 20px;">
          <img class="card-img-top" src="https://i.imgur.com/fkstFqz.jpg" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Sacola Reutilizável</h5>
            <p class="card-text">Versátil e resistente, a sacola Ráfia simplifica sua rotina na hora de
              transportar volumes no
              mercado, na feira, na praia; onde você precisar!.</p>
            <h6 class="card-title"> R$ 5,99 </h6>
            <button type="button" class="btn btn-outline-primary" aria-label="conferir">Conferir
              <a href="#"> </a>
            </button>
          </div>
        </div>
      </div>

      <div class=" d-flex justify-content-center col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card" style="width: 18rem; margin-top: 20px;">
          <img class="card-img-top" src="https://i.imgur.com/h2EhSjC.jpg" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Relógio de pulso</h5>
            <p class="card-text">Cada Relógio é construído a mão com componentes Sustentáveis, como
              bambu, cortiça portuguesa,
              metais reciclados e couros veganos.</p>
            <h6 class="card-title"> R$ 99,90 </h6>
            <button type="button" class="btn btn-outline-primary" aria-label="conferir">Conferir
              <a href="#"> </a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
