<div *ngIf="token.getRoleType()">
  <div id="mainCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="10000">
        <img src="https://i.imgur.com/WbJTDUQ.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="10000">
        <img src="https://i.imgur.com/1Cl7eDJ.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="10000">
        <img src="https://i.imgur.com/ZTojcfb.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#mainCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only"> Previous </span>
    </a>
    <a class="carousel-control-next" href="#mainCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only"> Next </span>
    </a>
  </div>

  <app-produtos></app-produtos>

</div>

<div *ngIf="!token.getRoleType()" class="nav-item"><p style="font-size: 3rem;">Para acessar o conteúdo, é necessário efetuar o login no sistema...
  <button data-toggle="modal" data-target="#login-modal">Login</button>
</p>
</div>
