<section >
  <div class="container">
    <div class="row d-flex justify-content-center" style="margin-top: 20px;">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">

        <h3>O que fazemos?</h3>
        <p>A única área que eu acho, que vai exigir muita atenção nossa, e aí eu já aventei a hipótese de
          até criar
          um ministério. É na área de... Na área... Eu diria assim, como uma espécie de analogia com o que
          acontece na área agrícola.
          <br>
          <br>
        </p>

        <h3>Aonde queremos chegar?</h3>
        <p>A única área que eu acho, que vai exigir muita atenção nossa, e aí eu já aventei a hipótese de
          até criar
          um ministério. É na área de... Na área... Eu diria assim, como uma espécie de analogia com o que
          acontece na área agrícola.
          <br>
          <br> Primeiro eu queria cumprimentar os internautas. -Oi Internautas! Depois dizer que o meio
          ambiente
          é sem dúvida nenhuma uma ameaça ao desenvolvimento sustentável. E isso significa que é uma
          ameaça
          pro futuro do nosso planeta e dos nossos países. O desemprego beira 20%, ou seja, 1 em cada 4
          portugueses.
          <br>
          <br> No meu xinélo da humildade eu gostaria muito de ver o Neymar e o Ganso. Por que eu acho
          que....
          11 entre 10 brasileiros gostariam. Você veja, eu já vi, parei de ver. Voltei a ver, e acho que o
          Neymar e o Ganso têm essa capacidade de fazer a gente olhar.
        </p>

        <h3>E como?</h3>
        <p>A população ela precisa da Zona Franca de Manaus, porque na Zona franca de Manaus, não é uma zona
          de
          exportação, é uma zona para o Brasil. Portanto ela tem um objetivo, ela evita o desmatamento,
          que
          é altamente lucravito. Derrubar arvores da natureza é muito lucrativo!
          <br>
          <br> Primeiro eu queria cumprimentar os internautas. -Oi Internautas! Depois dizer que o meio
          ambiente
          é sem dúvida nenhuma uma ameaça ao desenvolvimento sustentável. E isso significa que é uma
          ameaça
          pro futuro do nosso planeta e dos nossos países. O desemprego beira 20%, ou seja, 1 em cada 4
          portugueses.
          <br>
          <br>
        </p>

        <h3>Para que?</h3>
        <p>A única área que eu acho, que vai exigir muita atenção nossa, e aí eu já aventei a hipótese de
          até criar
          um ministério. É na área de... Na área... Eu diria assim, como uma espécie de analogia com o que
          acontece na área agrícola.
          <br>
          <br> Primeiro eu queria cumprimentar os internautas. -Oi Internautas! Depois dizer que o meio
          ambiente
          é sem dúvida nenhuma uma ameaça ao desenvolvimento sustentável. E isso significa que é uma
          ameaça
          pro futuro do nosso planeta e dos nossos países. O desemprego beira 20%, ou seja, 1 em cada 4
          portugueses.
          <br>
          <br> No meu xinélo da humildade eu gostaria muito de ver o Neymar e o Ganso. Por que eu acho
          que....
          11 entre 10 brasileiros gostariam. Você veja, eu já vi, parei de ver. Voltei a ver, e acho que o
          Neymar e o Ganso têm essa capacidade de fazer a gente olhar.
        </p>

        <h3>Também?</h3>
        <p>A única área que eu acho, que vai exigir muita atenção nossa, e aí eu já aventei a hipótese de até criar um ministério. É na área de... Na área... Eu diria assim, como uma espécie de analogia com o que acontece na área agrícola.
          <br>
          <br>
        </p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5" style="margin-top: 20px;">
        <img src="https://i.imgur.com/FfSRZBS.jpg" class="img-fluid" alt="Imagem responsiva">
      </div>
    </div>
  </div>
</section>
