<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
      <h4>Olá, Fulano!</h4>
      <a href="#" class="list-group-item list-group-item-action">Início</a>
      <a href="#" class="list-group-item list-group-item-action">Meus pedidos</a>
      <a href="#" class="list-group-item list-group-item-action">Informações de conta</a>
      <a href="#" class="list-group-item list-group-item-action">Meus endereços</a>
      <a href="#" class="list-group-item list-group-item-action">Sair</a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
      <div class="card" style="width: 15rem; height: 10rem; margin-top: 4.5rem" >
        <div class="card-body d-flex align-items-center">
          <img src="https://i.imgur.com/3x1zxYKg.png" width="40rem" class="d-flex align-items-center">
            <a href="#" class="card-link"> Meus pedidos </a>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
      <div class="card" style="width: 15rem; height: 10rem; margin-top: 4.5rem" >
        <div class="card-body d-flex align-items-center">
          <img src="https://i.imgur.com/7NAU4iT.png" width="40rem" class="d-flex align-items-center">
          <a href="#" class="card-link"> Informações de conta </a>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
      <div class="card" style="width: 15rem; height: 10rem; margin-top: 4.5rem" >
        <div class="card-body d-flex align-items-center">
          <img src="https://i.imgur.com/DbZsR3n.png" width="40rem" class="d-flex align-items-center">
          <a href="#" class="card-link"> Meus endereços </a>
        </div>
      </div>
    </div>
  </div>
</div>
