<section>
  <div class="container-fluid">
    <img src="https://i.imgur.com/U0nLqEZ.jpg" class="img-fluid" alt="Imagem responsiva" width="100%">
  </div>r-1.jp

  <div class="text-center">
    <h1>CONTATO</h1>
    <h3>
      <p>"O lixo que você joga no chão não fala, mas ele diz muito sobre você!!!"
      </p>
    </h3>
  </div>

  <div class="container">
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <input type="name" class="form-control" id="nome" placeholder="Nome" required aria-label="nome">
        </div>
        <div class="form-group col-md-6">
          <input type="sobrenome" class="form-control" id="sobrenome" placeholder="Sobrenome" required aria-label="sobrenome">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-3">
          <input type="text" class="form-control" id="ddd" placeholder="DDD" required aria-label="ddd">
        </div>
        <div class="form-group col-md-9">
          <input type="text" class="form-control" id="celular" placeholder="Celular" required aria-label="celular">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12 ">
            <textarea class="form-control" id="comentarios" rows="12" placeholder="Comentários" aria-label="comentarios"></textarea>
        </div>
        <div class="form-group">
          <div class="form-check">
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary" aria-label="enviar">Enviar</button>
    </form>
  </div>
</section>
